In [112]:
import numpy as np
import pandas as pd # Для работы с данными
import scipy.stats # При работе со статистикой
import matplotlib.pyplot as plt  # Библиотека для визуализации результатов

In [113]:
header = ['age','workclass','fnlwgt','education','educational-num','marital-status','occupation','relationship',
          'race','gender','capital-gain','capital-loss','hours-per-week','native-country','income']
data = pd.read_csv('C:/Users/Looly/ML/Dataset.data', sep = ' ', names = header)
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

### Модель логистической регрессии

In [114]:
from sklearn.linear_model import LogisticRegression

Шаг 1. Предобработка данных. Для работы с переменными в рамках задачи Логистической регрессии нужно преобразовать категориальные переменные в числа. Например, вот так (см. рис), просто поставить в соответствие названию машин - уникальные числа.

In [132]:
# попробуем выбрать какие-нибудь признаки, для начала
selectedColumns = data [['age', 'education','income','workclass','race','gender']]

# столбец education - категориальная переменная (не путать с континуальными)
# переведем ее в значения 0 и 1, добавив столбцы с соответствующими названиями
X = pd.get_dummies (selectedColumns, columns = ['education','workclass','race','gender'])

# столбец sex является целевой переменной, удаляем его из Х
del X['income']

print('Пометили образование единичкой.')
X.head()

Пометили образование единичкой.

,age,education_10th,education_11th,education_12th,education_1st-4th,education_5th-6th,education_7th-8th,education_9th,education_Assoc-acdm,education_Assoc-voc,...,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender_Female,gender_Male
0,25,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,28,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
3,44,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
4,18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [133]:
from sklearn.linear_model import LogisticRegression

LabelEncoder ставит в соответствие значению дохода (<=50K, >50K) 0 и 1

In [134]:
# целевая переменная (столбец income) снова является категориальной 
# переведем значения столбца в числа, оставив один столбец

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit( data['income'])

LabelEncoder()

In [135]:
# записываем в таргетную переменную y преобразованный столбец sex
y = pd.Series (data = le.transform(data['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [136]:
from sklearn.pipeline import make_pipeline # используем пайплайны для удобства
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split 

model = make_pipeline(StandardScaler(), LogisticRegression(max_iter=1000))

In [137]:
model = LogisticRegression(max_iter=1000) # берем в качестве модели логистическую регресиию из scikit-learn

Шаг 2 Текст, выделенный полужирным шрифтом. Обучение. Поделим данные на обучающую выборку и тестовую. Указываем в test_size долю датасета, которая пойдет на тестовую выбору</p>

In [138]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [139]:
# обучаем на части датасета (train)

model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [140]:
predictions[:100] # посмотрим как выглядят наши предсказания

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [141]:
model.predict_proba(X_test)

array([[0.86941399, 0.13058601],
       [0.91589136, 0.08410864],
       [0.74039908, 0.25960092],
       ...,
       [0.90282058, 0.09717942],
       [0.68076596, 0.31923404],
       [0.91964116, 0.08035884]])

Получаем наш скор (точность предсказания) на обучающей и тестовой выборках.

In [142]:
model.score(X_train, y_train)

0.7991459241276434

In [143]:
model.score(X_test,y_test)

0.8002456834777861

### Метод опорных векторов. SVM.

In [144]:
from sklearn.svm import SVC
# используем пайплайны
clf = make_pipeline(StandardScaler(), SVC(gamma='auto')) 
clf.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

<p>Снова получаем наш скор, для обучающей и тестовой выборок.</p>

In [145]:
clf.score(X_train, y_train)

0.8058732340811372

In [146]:
clf.score(X_test, y_test)

0.8073432061693852