### Задание 1

In [1]:
import pandas as pd

movies=pd.read_csv('movies.csv')
ratings=pd.read_csv('ratings.csv')

joined = ratings.merge(movies, on='movieId', how='left')

max_=ratings['rating'].max()

filtered_joined=joined[(joined ['rating']==max_)]
filtered_joined.groupby(['title'])['movieId'].count().sort_values(ascending=False).head(1)

title
Shawshank Redemption, The (1994)    153
Name: movieId, dtype: int64


### Задание 2

In [2]:
import pandas as pd

power=pd.read_csv('power.csv')

filtered_countries = power[(power['country']=='Estonia') | (power['country']=='Lithuania') | (power['country']=='Latvia') ]

fc=filtered_countries[(filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21) & (filtered_countries['year']<2010) & (filtered_countries['year']>2005)]
print('Количество потребления для стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года равно {}КВт'.format(fc['quantity'].sum()))

Количество потребления для стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года равно 165867.0КВт


### Задание 3

In [3]:
import pandas as pd

data=pd.read_html('https://www.banki.ru/products/currency/', encoding = 'utf-8')[0]
data.head()

  Валюта Курс ЦБ РФ Курс ЦБ РФ.1
0    USD     742926       +06412
1    EUR     840695       +08655
2    GBP    1000573       +12319
3    CHF     809376       +07510
4    JPY     645097       +04483